.grid{
    display: grid;
    grid-template-columns: 15% auto;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img {
    height: 6rem;
}

aside{
    grid-row: 2/5;
    background-image: url(Images/dragon_side.png);
}